<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.novelweb.mapper.ChaptersMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.novelweb.dto.Chapters" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="n_id" property="nId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_words" property="cWords" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="c_test01" property="cTest01" jdbcType="VARCHAR" />
    <result column="c_test02" property="cTest02" jdbcType="VARCHAR" />
    <result column="c_test03" property="cTest03" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.graduation.novelweb.dto.Chapters" extends="BaseResultMap" >
    <result column="c_content" property="cContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, n_id, c_name, c_words, create_time, update_time, c_test01, c_test02, c_test03
  </sql>
  <sql id="Blob_Column_List" >
    c_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chapters
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chapters
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduation.novelweb.dto.Chapters" >
    insert into chapters (c_id, n_id, c_name, 
      c_words, create_time, update_time, 
      c_test01, c_test02, c_test03, 
      c_content)
    values (#{cId,jdbcType=INTEGER}, #{nId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, 
      #{cWords,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{cTest01,jdbcType=VARCHAR}, #{cTest02,jdbcType=VARCHAR}, #{cTest03,jdbcType=VARCHAR}, 
      #{cContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.novelweb.dto.Chapters" >
    insert into chapters
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="nId != null" >
        n_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cWords != null" >
        c_words,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="cTest01 != null" >
        c_test01,
      </if>
      <if test="cTest02 != null" >
        c_test02,
      </if>
      <if test="cTest03 != null" >
        c_test03,
      </if>
      <if test="cContent != null" >
        c_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="nId != null" >
        #{nId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cWords != null" >
        #{cWords,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTest01 != null" >
        #{cTest01,jdbcType=VARCHAR},
      </if>
      <if test="cTest02 != null" >
        #{cTest02,jdbcType=VARCHAR},
      </if>
      <if test="cTest03 != null" >
        #{cTest03,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null" >
        #{cContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.novelweb.dto.Chapters" >
    update chapters
    <set >
      <if test="nId != null" >
        n_id = #{nId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cWords != null" >
        c_words = #{cWords,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cTest01 != null" >
        c_test01 = #{cTest01,jdbcType=VARCHAR},
      </if>
      <if test="cTest02 != null" >
        c_test02 = #{cTest02,jdbcType=VARCHAR},
      </if>
      <if test="cTest03 != null" >
        c_test03 = #{cTest03,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null" >
        c_content = #{cContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.graduation.novelweb.dto.Chapters" >
    update chapters
    set n_id = #{nId,jdbcType=INTEGER},
      c_name = #{cName,jdbcType=VARCHAR},
      c_words = #{cWords,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      c_test01 = #{cTest01,jdbcType=VARCHAR},
      c_test02 = #{cTest02,jdbcType=VARCHAR},
      c_test03 = #{cTest03,jdbcType=VARCHAR},
      c_content = #{cContent,jdbcType=LONGVARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.novelweb.dto.Chapters" >
    update chapters
    set n_id = #{nId,jdbcType=INTEGER},
      c_name = #{cName,jdbcType=VARCHAR},
      c_words = #{cWords,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      c_test01 = #{cTest01,jdbcType=VARCHAR},
      c_test02 = #{cTest02,jdbcType=VARCHAR},
      c_test03 = #{cTest03,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>