<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.novelweb.mapper.BoorackNovelRelMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.novelweb.dto.Bookrack" >
    <id column="rel_id" property="relId" jdbcType="INTEGER" />
    <result column="b_id" property="bId" jdbcType="INTEGER" />
    <result column="n_id" property="nId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rel_id, b_id, n_id, u_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from boorack_novel_rel
    where rel_id = #{relId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from boorack_novel_rel
    where rel_id = #{relId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduation.novelweb.dto.Bookrack" >
    insert into boorack_novel_rel (rel_id, b_id, n_id, 
      u_id, create_time, update_time
      )
    values (#{relId,jdbcType=INTEGER}, #{bId,jdbcType=INTEGER}, #{nId,jdbcType=INTEGER}, 
      #{uId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.novelweb.dto.Bookrack" >
    insert into boorack_novel_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relId != null" >
        rel_id,
      </if>
      <if test="bId != null" >
        b_id,
      </if>
      <if test="nId != null" >
        n_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relId != null" >
        #{relId,jdbcType=INTEGER},
      </if>
      <if test="bId != null" >
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="nId != null" >
        #{nId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.novelweb.dto.Bookrack" >
    update boorack_novel_rel
    <set >
      <if test="bId != null" >
        b_id = #{bId,jdbcType=INTEGER},
      </if>
      <if test="nId != null" >
        n_id = #{nId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rel_id = #{relId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.novelweb.dto.Bookrack" >
    update boorack_novel_rel
    set b_id = #{bId,jdbcType=INTEGER},
      n_id = #{nId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where rel_id = #{relId,jdbcType=INTEGER}
  </update>
</mapper>